@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&display=swap');
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  background-color: #f6ee55;
  font-family: Crimson Pro, serif;
  font-size: larger;
  max-width: 24rem;
  margin: 0 auto;
}
.intro {
  text-align: center;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
button {
  background: none;
  border: 2px solid black;
  font-size: larger;
  font-weight: bold;
  font-family: Crimson Pro;
  cursor: pointer;
}
